@page "/"
@using Placuszki.Krakjam2024.Server
@inject GameplayService GameplayService
@inject SessionService SessionService
@inject IJSRuntime JS

<p>
    <button @onclick="InitGame">Convert Array</button>
</p>

<div>
    Player ID:
    @SessionService.PlayerId
</div>
<div>
    <label>
        x
        <input type="range" min="-10" max="10" step="1" @bind="@_x" @bind:event="oninput"/>
        <span>@_x</span>
    </label>
    <label>
        y
        <input type="range" min="0" max="10" step="1" @bind="@_y" @bind:event="oninput"/>
        <span>@_y</span>
    </label>
</div>
<button class="btn btn-primary" @onpointerdown="() => ButtonPressed()" @onpointerup="() => ButtonReleased()">Send</button>

@code {
    private float _x = 0f;
    private float _y = 5;

    public Index()
    {
    }

    private void InitGame()
    {
        JS.InvokeAsync<string>("initGame");
    }

    private void ButtonPressed()
    {
        SendDataPacketToClients();
    }

    private void ButtonReleased()
    {
    }

    private void SendDataPacketToClients()
    {
        var dataPacket = new DataPacket
        {
            PlayerId = SessionService.PlayerId,
            PhoneColor = SessionService.PhoneColor,
            X = _x,
            Y = _y,
        };
        GameplayService.SendUpdateToClients(dataPacket);
    }

    // To wywolaj Szymon
    private void SendDataPacketToClients(DataPacket dataPacket)
    {
        GameplayService.SendUpdateToClients(dataPacket);
    }

}